<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-smile icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Childcare Dashboard
                   
                </div>
            </div>
          
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-6">
            <div class="card mb-3 widget-content bg-midnight-bloom p-4">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading text-white">Total Staff</div>
                        <div class="widget-subheading text-white">Recent Update</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span class="text-white">1896</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6">
            <div class="card mb-3 widget-content bg-arielle-smile p-4">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading text-white">Childs</div>
                        <div class="widget-subheading text-white">Total Childs</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span class="text-white">568</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6">
            <div class="card mb-3 widget-content bg-grow-early p-4">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading text-white">Vacccinated</div>
                        <div class="widget-subheading text-white">child Vaccinated</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span class="text-white">46%</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6">
            <div class="card mb-3 widget-content bg-premium-dark p-4">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading text-white">Addopted</div>
                        <div class="widget-subheading text-white">Parents Addopted</div>
                    </div>
                    <div class="widget-content-right text-white">
                        <div class="widget-numbers text-white"><span class="text-white">20%</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
   
</div>